<h2 mat-dialog-title>Lab order plaatsen</h2>

<mat-dialog-content>

<mat-stepper>
    <mat-step label="Patient en locatie">
        <p>Patient en locatie:</p>
            <mat-form-field>
                <mat-label>Patient</mat-label>

                <mat-select>
                    @for (patient of patients; track patient.id) {
                        <mat-option 
                        (onSelectionChange)="setPatient(patient.id)"
                        [value]="patient.id">{{ patient.firstName }} {{ patient.lastName }}</mat-option>
                    }
                </mat-select>

            </mat-form-field>

            <mat-divider [vertical]="true"></mat-divider>

            <mat-form-field>
                <mat-label>Locatie</mat-label>

                <mat-select>
                    @for (location of locations; track location.id) {
                        <mat-option 
                        (onSelectionChange)="setLocation(location.id)"
                        [value]="location.id">{{ location.name }}</mat-option>
                    }
                </mat-select>
            </mat-form-field>

            <div>
                @if (showNextButton(1)) {
                    <button matButton matStepperNext>Volgende</button>
                }
            </div>
    </mat-step>


    <mat-step label="Tests">

        <p>Tests:</p>

            <div class="tests">
                <mat-form-field>
                <mat-label>Tests</mat-label>

                    <mat-select multiple>
                        @for (test of tests; track test.id) {
                            <mat-option 
                            (onSelectionChange)="addTest(test.id)"
                            [value]="test.id">{{ test.name }}
                        </mat-option>
                        }
                    </mat-select>
                </mat-form-field>

                <p>total duration:</p>
            </div>


        <div>
            <button matButton matStepperPrevious>Terug</button>
            @if (showNextButton(2)) {
                <button matButton matStepperNext>Volgende</button>
            }
        </div>
    
    </mat-step>
    
    <mat-step label="Datum en tijd" >
        <p>datum en tijd:</p>

        <mat-form-field>
        <mat-label>Datum</mat-label>

        <input 
        (dateChange)="onDateChange($event)"
        matInput [matDatepicker]="dp">

        <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
        <mat-datepicker #dp></mat-datepicker>

        </mat-form-field>
        
        <mat-divider [vertical]="true" ></mat-divider>
        

        <div class="time">

            <mat-form-field>
            <mat-label>Begintijd</mat-label>
            <mat-select>
                @for (timeSlot of timeSlots; track timeSlot) {
                    <mat-option 
                    (onSelectionChange)="setStartTime(timeSlot)"
                    [value]="timeSlot">{{ timeSlot }}
                </mat-option>
                }
            </mat-select>

            </mat-form-field>

            <mat-form-field class="end-time">
            <mat-label>Eindtijd</mat-label>
            <mat-select>
                @for (timeSlot of timeSlots; track timeSlot) {
                    <mat-option 
                    (onSelectionChange)="setEndTime(timeSlot)"
                    [value]="timeSlot">{{ timeSlot }}
                    </mat-option>
                }
            </mat-select>

        </mat-form-field>

            
        </div>

        <div>
            <button matButton matStepperPrevious>Terug</button>
            @if(showNextButton(3)) {
                <button matButton matStepperNext>Volgende</button>
            }
        </div>

    </mat-step>

    <mat-step label="Bevestiging">
        <p>Stap 4: Bevesig:</p>

        <p>{{ this.currentOrder?.startDateTime }} tot {{ currentOrder?.endDateTime }}</p>

        <p>Patient: {{ currentOrder?.patientId }}</p>

        <p>Locatie: {{ currentOrder?.locationId }}</p>

        <p>Tests:</p>

        <table mat-table [dataSource]="tests" class="mat-elevation-z8">

    <ng-container matColumnDef="code">
        <th mat-header-cell *matHeaderCellDef> Code </th>
        <td mat-cell *matCellDef="let test"> {{test.code}} </td>
    </ng-container>


    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let test"> {{test.name}} </td>
    </ng-container>

 
  <ng-container matColumnDef="duration">
    <th mat-header-cell *matHeaderCellDef> Duration </th>
    <td mat-cell *matCellDef="let test"> {{test.durationMinutes}} mintutes </td>
  </ng-container>



  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <div>
        <button matButton matStepperPrevious>Terug</button>
        <button (click)="addOrder()" mat-button color="primary">Opslaan</button>
    </div>
    </mat-step>
    

</mat-stepper>


</mat-dialog-content>


<mat-dialog-actions>
  <button mat-button mat-dialog-close>Anuleren</button>
</mat-dialog-actions>