<h2 mat-dialog-title>Place a Lab order</h2>

<mat-dialog-content>

<mat-stepper>
    <mat-step label="Patient & location">
        <p>Patient & location:</p>
            <mat-form-field>
                <mat-label>Patient</mat-label>

                <mat-select>
                    @for (patient of patients; track patient.id) {
                        <mat-option 
                        (onSelectionChange)="setPatient(patient.id)"
                        [value]="patient.id">{{ patient.firstName }} {{ patient.lastName }}</mat-option>
                    }
                </mat-select>

            </mat-form-field>

            <mat-divider [vertical]="true"></mat-divider>

            <mat-form-field>
                <mat-label>Location</mat-label>

                <mat-select>
                    @for (location of locations; track location.id) {
                        <mat-option 
                        (onSelectionChange)="setLocation(location.id)"
                        [value]="location.id">{{ location.name }}</mat-option>
                    }
                </mat-select>
            </mat-form-field>

            <div>
                @if (showNextButton(1)) {
                    <button matButton matStepperNext>Next</button>
                }
            </div>
    </mat-step>


    <mat-step label="Tests">

        <p>Tests:</p>

            <div class="tests">
                <mat-form-field>
                <mat-label>Tests</mat-label>

                    <mat-select multiple>
                        @for (test of tests; track test.id) {
                            <mat-option 
                            (onSelectionChange)="addTest(test.id)"
                            [value]="test.id">{{ test.name }}
                        </mat-option>
                        }
                    </mat-select>
                </mat-form-field>

                <p>total duration:</p>
            </div>


        <div>
            <button matButton matStepperPrevious>Previous</button>
            @if (showNextButton(2)) {
                <button matButton matStepperNext>Next</button>
            }
        </div>
    
    </mat-step>
    
    <mat-step label="Date" >
        <p>date:</p>

        <mat-form-field>
        <mat-label>Date</mat-label>

        <input 
        (dateChange)="onDateChange($event)"
        matInput [matDatepicker]="dp">

        <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
        <mat-datepicker #dp></mat-datepicker>

        </mat-form-field>
        
        <mat-divider [vertical]="true" ></mat-divider>
        

        <div class="time">

            <mat-form-field>
            <mat-label>Start time</mat-label>
            <mat-select>
                @for (timeSlot of timeSlots; track timeSlot) {
                    <mat-option 
                    (onSelectionChange)="setStartTime(timeSlot)"
                    [value]="timeSlot">{{ timeSlot }}
                </mat-option>
                }
            </mat-select>

            </mat-form-field>

            <mat-form-field class="end-time">
            <mat-label>End time</mat-label>
            <mat-select>
                @for (timeSlot of timeSlots; track timeSlot) {
                    <mat-option 
                    (onSelectionChange)="setEndTime(timeSlot)"
                    [value]="timeSlot">{{ timeSlot }}
                    </mat-option>
                }
            </mat-select>

        </mat-form-field>

            
        </div>

        <div>
            <button matButton matStepperPrevious>Previous</button>
            @if(showNextButton(3)) {
                <button matButton matStepperNext>Next</button>
            }
        </div>

    </mat-step>

    <mat-step label="Confirm">

    <app-order-view></app-order-view>
    <div>
        
        <button matButton matStepperPrevious>Previous</button>
        <button (click)="addOrder()" mat-button color="primary">Save</button>
    </div>
    </mat-step>
    

</mat-stepper>


</mat-dialog-content>


<mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>